<section
  id="about"
  class="max-w-screen-md flex flex-col bg-white w-full max-h-screen m-auto justify-center items-center"
>
  <h1 class="font-bold text-center text-5xl my-8">
    Experiencia de más de 25 años en mantenimiento industrial
  </h1>
  <p class="text-center text-2xl my-8">
    Nos encargamos de mantener tus máquinas en perfecto funcionamiento,
    asegurando que tu producción núnca se detenga.
  </p>
</section>
