---
import { Image } from "astro:assets";
import FooterImage from "../../public/img/Logo_full.png";
import WhatsappImage from "../../public/img/whatsapp-business-svgrepo-com.svg";
import FacebookImage from "../../public/img/facebook-176-svgrepo-com.svg";
import InstagramImage from "../../public/img/instagram-svgrepo-com.svg";
---

<footer class="bg-orange-500 rounded-lg shadow dark:bg-gray-900 m-4">
  <div
    class="items-center flex flex-col justify-center w-full max-w-screen-xl mx-auto p-4 md:py-8 md:justify-between"
  >
    <div class="md:flex md:items-center md:justify-between">
      <a
        class="flex justify-center items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse"
      >
        <span class="text-2xl font-semibold whitespace-nowrap dark:text-black">
          <Image
            src={FooterImage}
            alt=""
            class="m-4 max-w-[250px] max-h-[250px]"
          />
        </span>
      </a>

      <!-- Redes sociales -->

      <div id="social-media" class="flex justify-center space-x-4 p-8">
        <!-- Botón de Facebook -->
        <a
          href="https://www.facebook.com/Simbogotacolombia?mibextid=LQQJ4d"
          target="_blank"
          rel="noopener noreferrer"
          class="bg-blue-700 text-white rounded-lg p-2 border-2 border-black"
        >
          <Image src={FacebookImage} alt="Instagram" class="w-8 h-8" />
        </a>

        <!-- Botón de WhatsApp -->
        <a
          href="https://wa.me/573043544404"
          target="_blank"
          rel="noopener noreferrer"
          class="bg-green-600 text-white rounded-lg p-2 border-2 border-black"
        >
          <Image src={WhatsappImage} alt="Instagram" class="w-8 h-8" />
        </a>

        <!-- Botón de Instagram -->
        <a
          href="https://www.instagram.com/s.i.mbogota?igsh=MXd1bWo2YWpmYzhqYQ=="
          target="_blank"
          rel="noopener noreferrer"
          class="bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 hover:bg-gradient-to-r hover:from-purple-600 hover:via-pink-600 hover:to-red-600 text-white rounded-lg border-2 border-black p-2"
        >
          <Image src={InstagramImage} alt="Instagram" class="w-8 h-8" />
        </a>
      </div>
    </div>

    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <span class="block text-sm text-black sm:text-center dark:text-gray-400"
      >© 2024 <a href="" class="hover:underline">Mabany</a>. All Rights
      Reserved.</span
    >
  </div>
</footer>
