---
import { Image } from "astro:assets";
import HeroImage from "../../public/img/svgHero.svg";
---

<section
  class="bg-heroBgImage bg-cover bg-center bg-no-repeat flex flex-col justify-center w-full"
>
  <div
    class="flex flex-col justify-center items-center w-full bg-gray-500 bg-opacity-50 backdrop-blur-sm"
  >
    <div
      class="md:flex-row flex flex-col justify-center items-center m-6 max-h-screen"
    >
      <Image
        src={HeroImage}
        alt="Hero Image"
        class="w-1/2 m-4 max-w-[200px] items-center"
      />
      <div class="flex flex-col m-auto items-center">
        <h1 class="text-5xl p-4 text-center">Title</h1>
        <p class="text-2xl text-center p-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo nesciunt
          cumque obcaecati aliquid similique aperiam consequatur reprehenderit
          aut excepturi et error beatae, debitis corporis eligendi velit
          temporibus in veniam iusto.
        </p>
      </div>
    </div>
  </div>
</section>
